<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PENDU</title>
    <script src="pendu.js" defer></script>
    <link rel="stylesheet" href="pendu.css">
</head>
<body>

    <div id="jeu">

        <!-- <button id="start" class="btn btn-lg bg-warning" >START/COMMENCER</button> -->
        <button id="start">
            START/COMMENCER
        </button>
        <div id="gamestart" class="not-start">
            <!-- <p id="result">
            
            </p> -->
         
            <p id="affichage">
                
            </p>
            <div id="clavier">
     
            </div>
    
            <div class="pendu">
                <div class="pendu-1 hidden"></div>
                <div class="pendu-2 hidden"></div>
                <div class="pendu-3 hidden"></div>
                <div class="pendu-4 hidden"></div>
                <div class="pendu-5 hidden"></div>
                <div class="pendu-6 hidden"></div>
                <div class="pendu-7 hidden"></div>
                <div class="pendu-8 hidden"></div>
                <div class="pendu-9 hidden"></div>
                <div class="pendu-10 hidden"></div>
            </div>

            <div id="popup1" class="overlay">
                <div class="popup">
                    <h2>GAME OVER</h2>
                    <h3 id="result"></h3>
                        <a class="close" href="#">&times;</a>
                        <div class="content">
                            <p id="motCache">Voulez-vous rejouer?</p>
                         
                        <button class="btn bg-warning" id="rejouer" >Rejouer</button>
                    </div>
                </div>
            </div>

        </div>
       
    




    </div>




 

    
</body>



<script>

</script>
</html>
